<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Account List</title>
    </head>
    <body>
        <main>
            <h1>Account List</h1>
            <a href="{% url 'home' %}">Main page</a>
            <a href="{% url 'create_account' %}">Create an account</a>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </thead>
                <tbody>
                    {% for item in account.all %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.number }}</td>
                            <td>{{ item.receipts.all|length  }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
