<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ExpenseCategory</title>
        <a href="{% url 'home' %}">Main page</a>
        <a href="{% url 'create_category' %}">create a category</a>
    </head>
    <body>
        <main>
            <h1>ExpenseCategory</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </thead>
                <tbody>
                    {% for item in category.all %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.receipts.all | length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
