<!DOCTYPE html>
<html>
    <head>
        <title>Category</title>
        <a href="{% url 'home' %}">Main page</a>
    </head>
    <body>
        <nav>
            <h1>Create Category</h1>
        </nav>
        <main>
            <div>
                <h1>Create Category</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>
