<!DOCTYPE html>
<html>
    <head>
        <title>
            receipts
        </title>
    </head>
    <body>
        <nav>
            <h1>Create Account</h1>
        </nav>
        <main>
            <div>
                <h1>Create Account</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button>Create</button>
                </form>
            </div>
        </main>
    </body>
</html>