<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Receipts</title>
    </head>
    <header>
        <nav>
            <a href="{% url 'home' %}">Main page</a>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'create_receipt' %}">Create a receipt</a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">Create a category</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">Create an account</a>
                </li>
                <li>
                    <a href="{% url 'my_receipt_list' %}">My receipt</a>
                </li>
                <li>
                    <a href="{% url 'category_list' %}">Expense Category</a>
                </li>
                <li>
                    <a href="{% url 'account_list' %}">Account List</a>
                </li>
                Hello,{{ user.username }}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'signup' %}">Signup</a>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <body>
        <main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </thead>
                <tbody>
                    {% for item in receipts %}
                        <tr>
                            <td>{{ item.vendor }}</td>
                            <td>{{ item.total }}</td>
                            <td>{{ item.tax }}</td>
                            <td>{{ item.date|date:"n d y" }}</td>
                            <td>{{ item.category.name }}</td>
                            <td>{{ item.account.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
